.input {
    width: 100%;
    padding-left: 10px;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid rgb(185, 185, 185);
}

.form_input {
    width: 100%;
    padding-left: 10px;
    height: 40px;
    border-radius: 5px;
    font-size: 1rem;
    border: 1px solid rgb(185, 185, 185);
}

.e_input {
    padding-left: 10px;
    height: 40px;
    border-radius: 5px;
    font-size: 1rem;
    border: 1px solid rgb(185, 185, 185);
}

.rent__Input {
    border: 1px solid black;
    padding: 3px;
    border-radius: 3px;
    position: absolute;
    right: 0;
    margin-right: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.Rent_input {
    width: 49.5%;
    padding-left: 10px;
    height: 40px;
    border-radius: 5px;
    font-size: 1rem;
    border: 1px solid rgb(185, 185, 185);
}
.RevenewClass{
    min-height: 100px;
    position: relative;
}
.RevenewClass::before{
    content: '';
    background-image: url('../Assets/png/T_Logo.png');
    background-repeat: no-repeat;
    background-size: 150px; 
    background-position: center; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.25;
}


.BackgroundImg{
    min-height: 100px;
    position: relative;
}
.BackgroundImg::before{
    content: '';
    background-image: url('../Assets/png/T_Logo.png');
    background-repeat: no-repeat;
    background-size: 500px; 
    background-position: center; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.15;
}
