.sidebar {
    border-radius: 10px;
    background-color: #222222;
    box-shadow: 0 1px 5px 1.5px rgba(75, 75, 75, 0.3);
    padding: 20px 10px;
    color: #fff;
    width: 100%;
    height: 100%;
}

.sidebar__list {
    list-style: none;
}

.sidebar__list li {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.sidebar__list li:hover {
    background-color: #FF8E53;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}